{% extends "spectralDatabase/base.html" %}
{% block content %}
	<div class="row">
		<div class="col-md">
			<h1>
				Spectral Database List
			</h1>
			<article class="media content-section">
				<table>
					{% for obj in object_list %}
						<tr>
							{% if obj.noisy_Signal_File %}
								<td class="d1">
									{{ obj.pk }} - <a href="{% url 'spectral:detail' pk=obj.pk %}">{{ obj.record_Name }}</a>
									- {{ obj.noisy_Signal_File }}
								</td>
							{% elif obj.measured_Signal_File %}
								<td class="d1">
									{{ obj.pk }} - <a href="{% url 'spectral:detail' pk=obj.pk %}">{{ obj.record_Name }}</a>
									- {{ obj.measured_Signal_File }}
								</td>
							{% elif obj.noise_File %}
								<td class="d1">
									{{ obj.pk }} - <a href="{% url 'spectral:detail' pk=obj.pk %}">{{ obj.record_Name }}</a>
									- {{ obj.noise_File }}
								</td>
							{% else %}
								<td class="d1">
									{{ obj.pk }} - <a href="{% url 'spectral:detail' pk=obj.pk %}">{{ obj.record_Name }}</a>
									- {{ obj.true_Signal_File }}
								</td>
							{% endif %}
							<td class="d2">
								&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
							</td>
							<td class="d3">
								<a href="{% url 'mic-characterization:mic-data-record-confirm-delete' pk=obj.pk %}">
									Delete
								</a>
							</td>
						</tr>
					{% endfor %}
				</table>
			</article>
		</div>
	</div>
	<br><br>
{% endblock content %}