{% extends "statisticalDatabase/base.html" %}
{% block dbChange %}
	<a class="navbar-brand mr-4" href="{% url 'stat:list' %}">
		Statistical Database
	</a>
{% endblock dbChange %}
{% block content %}
    <div class="row">
        <h1>
            {% block chartListTitle %}
                Overlapping PDFs List
            {% endblock chartListTitle %}
        </h1>
    </div><br>
    <div class="row">
        <a href="{% url type %}">
            <button type="button" class="btn btn-outline-info">
                Refresh
            </button>
        </a>
    </div><br>
    {% if graphs.0 %}
        <div class="row">
            <div class="col-md-6">
                <center>
                    <img src="data:image/png;base64, {{ graphs.0|safe }}" class="img-fluid">
                </center>
            </div>
            {% if graphs.1 %}
            <div class="col-md-6">
                <center>
                    <img src="data:image/png;base64, {{ graphs.1|safe }}" class="img-fluid">
                </center>
            </div>
            {% endif %}
        </div><br>
    {% endif %}
    {% if graphs.2 %}
        <div class="row">
            <div class="col-md-6">
                <center>
                    <img src="data:image/png;base64, {{ graphs.2|safe }}" class="img-fluid">
                </center>
            </div>
            {% if graphs.3 %}
            <div class="col-md-6">
                <center>
                    <img src="data:image/png;base64, {{ graphs.3|safe }}" class="img-fluid">
                </center>
            </div>
            {% endif %}
        </div><br>
    {% endif %}
    {% if graphs.4 %}
        <div class="row">
            <div class="col-md-6">
                <center>
                    <img src="data:image/png;base64, {{ graphs.4|safe }}" class="img-fluid">
                </center>
            </div>
            {% if graphs.5 %}
            <div class="col-md-6">
                <center>
                    <img src="data:image/png;base64, {{ graphs.5|safe }}" class="img-fluid">
                </center>
            </div>
            {% endif %}
        </div><br>
    {% endif %}
{% endblock content %}
{% block beneathsidebar %}
    {% if graphs.6 %}
                <div class="row">
        {% for graph in graphs %}
            {% if forloop.counter0 == 0 or forloop.counter0 == 1 or forloop.counter0 == 2 or forloop.counter0 == 3 or forloop.counter0 == 4 or forloop.counter0 == 5 %}
            {% else %}
                {% if forloop.counter0|divisibleby:3 %}
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <center>
                            <img src="data:image/png;base64, {{ graph|safe }}" class="img-fluid">
                        </center>
                    </div>
                {% else %}
                    <div class="col-md-4">
                        <center>
                            <img src="data:image/png;base64, {{ graph|safe }}" class="img-fluid">
                        </center>
                    </div>
                {% endif %}
            {% endif %}
        {% endfor %}
                </div><br>
    {% endif %}
{% endblock beneathsidebar %}