{% extends "micCharacterization/base.html" %}
{% block dbChange %}
    <a class="navbar-brand mr-4" href="{% url 'mic-characterization:mic-data-record-list' %}">
        Microphone Characterization Database
    </a>
{% endblock dbChange %}
{% block content %}
    <h1>
        Atmospheric Spectral Propagation Attenuation Model
    </h1>
            <div class="row">
    {% for graph in graphs %}
        {% if not forloop.counter0|divisibleby:2 %}
                <div class="col-md-6">
                    <center>
                        <img src="data:image/png;base64, {{ graph|safe }}" class="img-fluid">
                    </center>
                </div>
        {% else %}
            </div><br>
            <div class="row">
                <div class="col-md-6">
                    <center>
                        <img src="data:image/png;base64, {{ graph|safe }}" class="img-fluid">
                    </center>
                </div>
        {% endif %}
    {% endfor %}
            </div><br><br><br><br><br><br><br><br><br>
{% endblock content %}