{% extends "micCharacterization/base.html" %}
{% block content %}
    <h1>
        Important Concepts
    </h1>
    <div class="row">
        <ul>
            <li>Power Spectral Density (or Power Spectrum) - It describes instantaneously how much power is present in each frequency component.</li><br>
            <li>Average Power - It describes the overall power spectrum of the entire recorded file by taking the average of all of the instantaneous power spectrums.</li><br>
            <li>Harmonic Components - Signal components associated with pitch.</li><br>
            <li>Percussive Components - Signal components associated with colliding objects.</li><br>
            <li>Onset Strength - Simply put, it just refers to transient behavior. To elaborate, this includes increases in spectral energy, changes in spectral energy distribution (or spectral flux), changes in phase, changes in detected pitch, and changes in spectral patterns from machine learning techniques that cannot be easily recognizable to the human ear.</li><br>
            <li>Autocorrelation - It calculates the correlation of the signal with time shifted copies of itself. It describes the periodicity of a signal. In other words, it shows the repetitive behavior of the signal.</li><br>
            <li>Beat - The sequence of regularly spaced percussive pulses in a signal.</li><br>
            <li>Tempo - The rate at which percussive pulses occur.</li>
        </ul>
    </div><br><br>
{% endblock content %}
{% block beneathsidebar %}
    <h4>
        Harmonic vs. Percussive Components
    </h4>
    <p>
        &emsp;&emsp;&emsp;&emsp;Broadly speaking, every signal's spectral components can be broken down into two categories: harmonic and percussive components. Harmonic components are those associated with pitch. Percussive sounds on the other hand are those of colliding objects. They do not have pitch, but instead they have a time locality. Most physical sounds have a percussive cause, even though they may seem like a purely harmonic source. For example, a guitar's string being plucked starts as a percussive collision, and the harmonics will then follow and ring out. To elaborate on this further, looking at a spectrogram, harmonics will form structures horizontally in the time direction, while percussive components will form structures vertically across the frequency spectrum.
    </p><br><br>
    <h4>
        Mellin Transform vs. Fourier Transform
    </h4>
    <p>
        &emsp;&emsp;&emsp;&emsp;Just as a Fourier Transform is variant to time shifts, a Mellin Transform is also invariant to time scaling (time stretching or time compressing). This means that if the time scaling is adjusted, its frequency spectrum will not change. In terms of general data analysis, it does not bring forth too much information (as far as I am aware at least); however, this can be useful for machine learning algorithms when training models to make predictions based on their spectrograms. For a lack of better words, this in a sense "normalizes" the frequency spectrum so that data from collected samples can be compared to better ground truths.
    </p>
    <h4>
        Autocorrelation Tempogram vs. Fourier Tempogram
    </h4>
    <p>
        &emsp;&emsp;&emsp;&emsp;Both operate on the onset strength envelope. The fourier tempogram emphasizes the harmonics (multiples of the fundamental tempo) more, whereas the autocorrelation tempogram emphasizes subharmonics (fractions of the fundamental tempo) more.
    </p><br><br><br><br><br><br><br><br>
{% endblock beneathsidebar %}