{% extends "micCharacterization/base.html" %}
{% block content %}
	<h1>
		Microphone Data Record Details
	</h1><br>
	<div class="row">
		<div class="col-md-6">
			Record Name: {{ object.record_Name }}
		</div>
		<div class="col-md-6">
			Signal File: {{ signal_File }}
		</div>
	</div><br><br>
	<div class="row">
		<div class="col-md-6">
			Record Description: {{ object.description }}
		</div>
		<div class="col-md-6">
			Reference File: {{ reference_File }}
		</div>
	</div><br><br>
	<div class="row">
		<div class="col-md-6">
			Signal Start: {{ object.signal_Start }}<br>
			Duration: {{ object.duration }}
		</div>
		<div class="col-md-6">
			Reference Start: {{ object.reference_Start }}<br>
			Prediction Harmonics: {{ object.prediction_Harmonics }}
		</div>
	</div><br><br>
	<div class="row">
		<div class="col-md-6">
			<audio id="Player" controls>
				<source src="/Uploads/{{ signal_File }}" type="audio/wav">
			</audio>
		</div>
		{% if object.reference_File %}
			<div class="col-md-6">
				<audio controls>
					<source src="/Uploads/{{ reference_File }}" type="audio/wav">
				</audio>
			</div>
		{% endif %}
	</div><br><br>
	<div class="row">
		<div class="col-md-6">
			<a href="{% url 'mic-data-record-update' pk=micdatarecord.pk %}">
				<button class="btn btn-primary">
					Update
				</button>
			</a>
			<a href="{% url 'mic-data-record-list' %}">
				<button class="btn btn-outline-info">
					Home
				</button>
			</a>
			<a href="{% url 'mic-data-record-confirm-delete' pk=micdatarecord.pk %}">
				<button class="btn btn-outline-info">
					Delete
				</button>
			</a>
			<a href="{% url 'mic-data-record-detail-refreshed' pk=micdatarecord.pk %}">
				<button class="btn btn-outline-info">
					Refresh
				</button>
			</a>
		</div>
	</div><br><br>
{% endblock content %}
{% block beneathsidebar %}
	<h2>
		Temporal Characteristics
	</h2>
	<div class="row">
		<div class="col">
			<center>
				<img src="data:image/png;base64, {{ signal_Graph|safe }}" class="img-fluid">
			</center>
		</div>
	</div><br>
	<div class="row">
		<div class="col-md">
			<center>
				<img src="data:image/png;base64, {{ cepstrum_Graph|safe }}" class="img-fluid">
			</center>
		</div>
	</div><br>
	<div class="row">
		<div class="col-md">
			<center>
				<img src="data:image/png;base64, {{ hilbert_Phase_Graph|safe }}" class="img-fluid">
			</center>
		</div>
	</div><br>
	<div class="row">
		<div class="col">
			<center>
				<img src="data:image/png;base64, {{ onset_Strength_Graph|safe }}" class="img-fluid">
			</center>
		</div>
	</div><br>
	<div class="row">
		<div class="col-md-6">
			<center>
				<img src="data:image/png;base64, {{ lag_Autocorrelation_Graph|safe }}" class="img-fluid">
			</center>
		</div>
		<div class="col-md-6">
			<center>
				<img src="data:image/png;base64, {{ BPM_Autocorrelation_Graph|safe }}" class="img-fluid">
			</center>
		</div>
	</div><br>
	<div class="row">
		<div class="col-md-6">
			<center>
				<img src="data:image/png;base64, {{ autocorrelation_Tempogram|safe }}" class="img-fluid">
			</center>
		</div>
		<div class="col-md-6">
			<center>
				<img src="data:image/png;base64, {{ fourier_Tempogram|safe }}" class="img-fluid">
			</center>
		</div>
	</div><br>
	<h2>
		Spectral Characteristics
	</h2>
	<div class="row">
		<div class="col-md-6">
			<center>
				<img src="data:image/png;base64, {{ average_PSD_Graph|safe }}" class="img-fluid">
			</center>
		</div>
		<div class="col-md-6">
			<center>
				<img src="data:image/png;base64, {{ phase_Spectrum_Graph|safe }}" class="img-fluid">
			</center>
		</div>
		<!-- <div class="col-md-4">
			<center>
				<img src="data:image/png;base64, {{ harmonic_Prediction_Graph|safe }}" class="img-fluid">
			</center>
		</div> -->
	</div><br>
	<div class="row">
		<div class="col-md-6">
			<center>
				<img src="data:image/png;base64, {{ spectrogram|safe }}" class="img-fluid">
			</center>
		</div>
		<div class="col-md-6">
			<center>
				<img src="data:image/png;base64, {{ mellin_Spectrogram|safe }}" class="img-fluid">
			</center>
		</div>
	</div><br>
	<div class="row">
		<div class="col-md-6">
			<center>
				<img src="data:image/png;base64, {{ percussive_Spectrogram|safe }}" class="img-fluid">
			</center>
		</div>
		<div class="col-md-6">
			<center>
				<img src="data:image/png;base64, {{ harmonic_Spectrogram|safe }}" class="img-fluid">
			</center>
		</div>
	</div><br><br>
{% endblock beneathsidebar %}