{% extends "micCharacterization/base.html" %}
{% block content %}
	<h1>
		Microphone Data Record List
	</h1>
	<article class="media content-section">
		<table>
			{% for obj in object_list %}
				<tr>
					{% if obj.noisy_Signal_File %}
						<td class="d1">
							{{ obj.pk }} - {{ obj.record_Name }} - {{ obj.noisy_Signal_File }}
						</td>
					{% elif obj.measured_Signal_File %}
						<td class="d1">
							{{ obj.pk }} - {{ obj.record_Name }} - {{ obj.measured_Signal_File }}
						</td>
					{% elif obj.noise_File %}
						<td class="d1">
							{{ obj.pk }} - {{ obj.record_Name }} - {{ obj.noise_File }}
						</td>
					{% else %}
						<td class="d1">
							{{ obj.pk }} - {{ obj.record_Name }} - {{ obj.true_Signal_File }}
						</td>
					{% endif %}
					<td class="d2">
						&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
					</td>
					<td class="d3">
						<a href="{% url 'mic-characterization:mic-data-record-confirm-delete' pk=obj.pk %}">
							Delete
						</a>
					</td>
				</tr>
			{% endfor %}
		</table>
	</article><br><br>
{% endblock content %}