{% extends "micCharacterization/base.html" %}
{% block content %}
	<form method="POST" enctype="multipart/form-data">
		{% csrf_token %}
		<fieldset class="form-group">
			<h1>
				Microphone Data Record Detail Form
			</h1>
			<div class="row">
				<div class="col-md-6">
					Record Name:<br>
					{{ form.record_Name }}
				</div>
				<div class="col-md-6">
					Signal File:<br>
					{{ form.signal_File }}
				</div>
			</div><br>
			<div class="row">
				<div class="col-md-6">
					Record Description:<br>
					{{ form.description }}
				</div>
				<div class="col-md-6">
					Reference File:<br>
					{{ form.reference_File }}
				</div>
			</div><br>
			<div class="row">
				<div class="col-md-6">
					Signal Start:<br>
					{{ form.signal_Start }}<br>
					Duration:<br>
					{{ form.duration }}
				</div>
				<div class="col-md-6">
					Reference Start:<br>
					{{ form.reference_Start }}<br>
				</div>
			</div><br>
		</fieldset>

		<div class="form-group">
			<button type="submit" class="btn btn-primary">
				Submit
			</button>
			<button type="reset" class="btn btn-outline-info">
				Reset
			</button>
			{% if isUpdate %}
				<a href="{% url 'mic-data-record-detail' pk=micdatarecord.pk %}">
					<button type="button" class="btn btn-outline-info">
						Cancel
					</button>
				</a>
			{% else %}
				<a href="{% url 'mic-data-record-list' %}">
					<button type="button" class="btn btn-outline-info">
						Cancel
					</button>
				</a>
			{% endif %}
		</div>
	</form>
	<br><br>
{% endblock content %}