{% extends "micCharacterization/base.html" %}
{% block content %}
	<h1>
		Microphone Data Record Details
	</h1><br>
	<div class="row">
		<div class="col-md-6">
			Record Name: {{ object.record_Name }}
		</div>
		<div class="col-md-6">
			Signal File: {{ signal_File }}
		</div>
	</div><br><br>
	<div class="row">
		<div class="col-md-6">
			Record Description: {{ object.description }}
		</div>
		<div class="col-md-6">
			Reference File: {{ reference_File }}
		</div>
	</div><br><br>
	<div class="row">
		<div class="col-md-6">
			Signal Start: {{ object.signal_Start }}<br>
			Duration: {{ object.duration }}
		</div>
		<div class="col-md-6">
			Reference Start: {{ object.reference_Start }}<br>
			Hop Length: {{ object.hop_Length }}
		</div>
	</div><br><br>
	<div class="row">
		<div class="col-md-6">
			<audio id="Player" controls>
				<source src="/Uploads/{{ signal_File }}" type="audio/wav">
			</audio>
		</div>
		{% if object.reference_File %}
			<div class="col-md-6">
				<audio controls>
					<source src="/Uploads/{{ reference_File }}" type="audio/wav">
				</audio>
			</div>
		{% endif %}
	</div><br><br>
	<div class="row">
		<div class="col-md-6">
			<a href="{% url 'mic-data-record-update' pk=micdatarecord.pk %}">
				<button class="btn btn-primary">
					Update
				</button>
			</a>
			<a href="{% url 'mic-data-record-list' %}">
				<button class="btn btn-outline-info">
					Home
				</button>
			</a>
			<a href="{% url 'mic-data-record-confirm-delete' pk=micdatarecord.pk %}">
				<button class="btn btn-outline-info">
					Delete
				</button>
			</a>
		</div>
	</div><br><br>
{% endblock content %}
{% block beneathsidebar %}
	<h2>
		Temporal Characteristics
	</h2>
	<div class="row">
		<div class="col-md-4">
			<center>
				<img src="data:image/png;base64, {{ time_signal|safe }}" alt="" id="img">
			</center>
		</div>
		<div class="col-md-4">
			<center>
				<img src="data:image/png;base64, {{ onset_strength|safe }}" alt="" id="img">
			</center>
		</div>
		<div class="col-md-4">
			<center>
				<img src="data:image/png;base64, {{ tempogram|safe }}" alt="" id="img">
			</center>
		</div>
	</div><br>
	<div class="row">
		<div class="col-md-6">
			<center>
				<img src="data:image/png;base64, {{ lag_autocorrelation|safe }}" alt="" id="img">
			</center>
		</div>
		<div class="col-md-6">
			<center>
				<img src="data:image/png;base64, {{ bpm_autocorrelation|safe }}" alt="" id="img">
			</center>
		</div>
	</div><br>
	<h2>
		Spectral Characteristics
	</h2>
	<div class="row">
		<div class="col-md-6">
			<center>
				<img src="data:image/png;base64, {{ psd|safe }}" alt="" id="img">
			</center>
		</div>
		<div class="col-md-6">
			<center>
				<img src="data:image/png;base64, {{ ps|safe }}" alt="" id="img">
			</center>
		</div>
	</div><br>
	<div class="row">
		<div class="col-md-6">
			<center>
				<img src="data:image/png;base64, {{ percussive|safe }}" alt="" id="img">
			</center>
		</div>
		<div class="col-md-6">
			<center>
				<img src="data:image/png;base64, {{ harmonic|safe }}" alt="" id="img">
			</center>
		</div>
	</div><br><br>
{% endblock beneathsidebar %}