{% extends "micCharacterization/base.html" %}
{% block content %}
	<h1>
        {% block chartListTitle %}
		    Original Time Signal List
        {% endblock chartListTitle %}
	</h1>
    {% if graphs.0 %}
        <div class="row">
            <div class="col-md-9">
                <center>
                    <img src="data:image/png;base64, {{ graphs.0|safe }}" alt="" id="img">
                </center>
            </div>
        </div><br>
    {% endif %}
    {% if graphs.1 %}
        <div class="row">
            <div class="col-md-9">
                <center>
                    <img src="data:image/png;base64, {{ graphs.1|safe }}" alt="" id="img">
                </center>
            </div>
        </div><br>
    {% endif %}
{% endblock content %}
{% block beneathsidebar %}
    {% if graphs.2 %}
        {% for graph in graphs %}
            {% if forloop.counter0 == 0 or forloop.counter0 == 1 %}
            {% else %}
                {% if forloop.counter0|divisibleby:2 %}
                <div class="row">
                <div class="col-md-6">
                    <center>
                        <img src="data:image/png;base64, {{ graph|safe }}" alt="" id="img">
                    </center>
                </div>
                {% else %}
                    <div class="col-md-6">
                        <center>
                            <img src="data:image/png;base64, {{ graph|safe }}" alt="" id="img">
                        </center>
                    </div>
                </div><br>
                {% endif %}
            {% endif %}
        {% endfor %}
    {% endif %}
{% endblock beneathsidebar %}